/**/*.o
/**/*.d
/**/*.axf
/**/*.bin
/**/*.obj
/**/*.pp
/**/*.prefs
/**/*.mk
/**/*.opt
/**/*.lib
/**/Release
/**/Debug
/**/exe
/**/*.swp
./oslib/ccs/free_rtos
workspace
ExtLibs/ota/ccs/.project
ExtLibs/flc/ccs/.project
kitsune/kitsune_version.h
.launches