[submodule "kitsune/tinyhttp"]
	path = kitsune/tinyhttp
	url = https://github.com/mendsley/tinyhttp
[submodule "heap_6"]
	path = third_party/FreeRTOS/source/portable/MemMang
	url = https://github.com/hello/heap_6.git
[submodule "third_party/FreeRTOS/source/portable/MemMang"]
	path = third_party/FreeRTOS/source/portable/MemMang
	url = https://github.com/hello/heap_6.git
